extends ../layout
block content
   a(href="/bicicletas") Todas las bicis
   form(action=`/bicicletas/editar/${bici.id}`, method="post")
      label(for="id") Id
      input(type="text", name="id", placeholder="ID" value=bici.id)
      br
      label(for="color") Color
      input(type="text", name="color", placeholder="Color" value=bici.color)
      br
      label(for="modelo") Modelo
      input(type="text", name="modelo", placeholder="Modelo" value=bici.modelo)
      br
      label(for="lat") Latitud
      input(type="text", name="lat", placeholder="Latitud" value=bici.ubicacion[0])
      br
      label(for="lng") Longitud
      input(type="text", name="lng", placeholder="Longitud" value=bici.ubicacion[1])
      br
      input(type="submit", value="Editar bici")