extends ../layout
block content
   a(href="/bicicletas") Todas las bicis
   form(action="/bicicletas/nueva", method="post")
      label(for="id") Id
      input(type="text", name="id", placeholder="ID")
      br
      label(for="color") Color
      input(type="text", name="color", placeholder="Color")
      br
      label(for="modelo") Modelo
      input(type="text", name="modelo", placeholder="Modelo")
      br
      label(for="lat") Latitud
      input(type="text", name="lat", placeholder="Latitud")
      br
      label(for="lng") Longitud
      input(type="text", name="lng", placeholder="Longitud")
      br
      input(type="submit", value="Agregar nueva bici")