extends ../layout

block content
   a(href="/bicicletas/nueva") Nueva Bici
   table.table
      thead
         tr
            th(scope='col') Numero Id
            th(scope='col') Color
            th(scope='col') Modelo
            th(scope='col') Ubicación
            th(scope='col') 
            th(scope='col') 
      tbody
         tr
            th= bici.id
            th= bici.color
            th= bici.modelo
            th= bici.ubicacion
               a(href=`/bicicletas/editar/${bici.id}`) Editar
            th
               form(action="/bicicletas/eliminar" method="post")
                  input(type="hidden", name="id" value=bici.id)
                  input(type="submit", value="Eliminar" class="btn")